@forward 'globals';
@forward 'components';

.s-banner_hero {
    background-color: transparent;
    color: var(--brand-blue-dark);
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));

    .content_banner {
        justify-content: baseline;
        flex-direction: column;
        gap: 5rem;
        span{
            text-transform: uppercase;
            color: var(--brand-orange);
            font-size: var(--subtitle);
            font-weight: 700;
        }
        h2 {
            font-size: var(--subtitle-h4);
        }
    }
}

.s-chamada {
    background-color: var(--brand-blue-dark);
    color: white;
    text-align: center;
    line-height: 1.5;
}

.s-p_revender {
    color: var(--brand-blue-dark);
    span {
        font-size: var(--subtitle-h4);
        color: var(--brand-orange);
        text-transform: uppercase;
        font-weight: 700;
    }
    .p_revender__recursos {
        margin-top: 3.2rem;
        li {
            font-size: var(--paragraph);
            line-height: 1.5;
        }
        li:nth-child(1) {
            font-size: var(--subtitle-h4);
            font-weight: 700;
        }
    }
}

.s-lucro {
    color: var(--brand-blue-dark);
    h2 {
        text-align: center;
    }
    .content_lucro {
        margin: 3.2rem 0;
        justify-content: space-around;
        
        .card  {
            color: white;
            font-size: var(--title);
            font-weight: 700;
            padding-top: 5.6rem;
            padding-bottom: 5.6rem;
        }
        .card:nth-child(3){
            background-color: var(--attention-green);
        }

    }

    p {
        text-align: center;
        font-size: var(--subtitle-h4);
        font-weight: 700;
    }
}

.s-equipe_revendedores {
    color: var(--brand-blue-dark);

    h2 {
        text-align: center;
    }

    .content_revendedoras {
        margin-top: 3.2rem;
        justify-content: space-around;

        .card  {
            color: white;

            img {
                margin: 1.6rem 0;
            }

            .profile_name {
                font-size: var(--subtitle-h4);
            }
            address {
                margin-top: 1.6rem;
            }

            p {
                margin-top: 1.6rem;
            }
        }

    }
}

.s-cadastro {
    color: var(--brand-blue-dark);
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
        margin-top: 1.6rem;
    }
    p {
        text-align: center;
        margin-top: 2.4rem;
    }

    .content_form {
        width: 60rem;
        max-width: 100%;
        margin-inline: auto;
    }
    button {
        margin-top: 3.2rem;
        box-shadow: none;
    }
}